<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Textbook-Finder</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>
</head>
<body>
    <div class="bg-dark text-white p-3">
        <span class="navbar-brand ml-2"> TextbookFinder</span>
    </div>
    <div class="flex-nowrap m-2 p-2">
        <div id="categories" class="col-3">
            This is where the categories will be
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Textbook_Finder 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
