@model TextbooksListViewModel

<div class="text-center">
    <h1 class="display-4">Textbook-Finder</h1>
    <h2>Hello SD8</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-action="Index" asp-controller="Textbooks">Textbooks</a>
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="TextbookPublishers">TextbookPlublishers</a>
        </div>
    </div>
</div>

<div class="container" >
<h2> List of Textbooks </h2>

 @foreach (var t in Model.Textbooks)
 { 
    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-faded p-1">
            <h5>@t.Title</h5>
            @t.Isbn
            <h6>@t.Publisher</h6>
        </div>
    </div>
 }
<div page-model="@Model.PagingInfo" page-action="Index"></div>
</div>



