@model IEnumerable<Category>

<body>
   <div class="container p-3 my-3 bg-dark text-black">
            @foreach (var category in Model)
            {
                <a class="btn btn-lg text-light
                   @(category.Categories == ViewBag.SelectedCategory
                       ? "btn-info": "btn-outline-secondary")"
                   asp-action="Index" asp-controller="Home"
                   asp-route-category="@category.Categories.ToString()"
                   asp-route-textbookPage="1">
                    @category.Categories.ToString()
                </a>
            }
   </div>
</body>
