@model IEnumerable<Category>

<a class="btn btn-outline-primary btn-outline-dark" asp-action="Index"
   asp-controller="Home" asp-route-category="">
    Home Page
</a>

@foreach (var category in Model)
{
    <a class="btn btn-block 
       @(category.Categories == ViewBag.SelectedCategory
    ? "btn-primary": "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category.Categories.ToString()"
       asp-route-textbookPage="1">
        @category.Categories.ToString()
    </a>
}
